# Ignore all files in the data directory
data/*
notebooks/data/*
.vscode/
__pycache__/
src/sampling/grad_method/data/*
src/sampling/simulated_annealing/data/*
src/sampling/alpha_annealing/data/*
src/visuals

# But do not ignore .gitkeep files
!data/.gitkeep
